.btn {
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.solid {
  background-color: var(--color-primary);
  border: none;
  outline: none;
  color: white;
}

.outline {
  background-color: white;
  border: 1px solid var(--color-primary);
  outline: none;
  color: var(--color-primary);
}
